<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Crud Kevin</title>
  </head>
  <body>
    <h2 class="alert alert-warning text-center">DESAFIO IMERSÃO - CRUD</h2>
    <div class="container mt-3">
        
      {% for message in messages %}
      <p class="alert alert-success mt-3">{{message}}</p> 
      {% endfor %} 
        
      {% if sel_item %}

      <form method="POST" action="{% url 'update_item' sel_item.id %}">
        {% csrf_token %}
          <div class="form-group mb-3">
            <label>Nome do item</label>
            <input type="text" class="form-control" value='{{sel_item.name}}'name="name" placeholder="Insira o nome do item">
          </div>
          <div class="form-group mb-3">
            <label>Descrição</label>
            <input type="text" class="form-control" value='{{sel_item.description}}' name="description" placeholder="Descreva o item">
          </div>
          
          <div class="text-center mt-4">
          <button type="submit" class="btn btn-success">EDITAR</button>
          </div>
      </form>

      {% else %}
      <form method="POST" action="{% url 'add_item' %}">
          {% csrf_token %}
            <div class="form-group mb-3">
              <label>Nome do item</label>
              <input type="text" class="form-control" name="name" placeholder="Insira o nome do item">
            </div>
            <div class="form-group mb-3">
              <label>Descrição</label>
              <input type="text" class="form-control" name="description" placeholder="Descreva o item">
            </div>
            
            <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">SALVAR</button>
            </div>
        </form>
      {% endif %}

        <div class="mt-5">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nome do item</th>
                <th scope="col">Descrição do item</th>
                <th scope="col">Editar</th>
                <th>Deletar</th>
              </tr>
            </thead>
            <tbody>
            {% for i in item_list %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                <td>
                  <a href="{% url 'edit_item' i.id %}" class="'btn btn-warning">EDITAR</a>
                </td>
                <td>
                  <a href="{% url 'delete_item' i.id %}" class="'btn btn-danger">DELETAR</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>

    </div>










    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>